# SPDX-License-Identifier: GPL-2.0-only
#
# Appletalk driver configuration
#

config DEV_APPLETALK
	tristate "Appletalk interfaces support"
	depends on ATALK
	help
	  AppleTalk is the protocol that Apple computers can use to communicate
	  on a network. It can run on a different set of physical interfaces,
	  if you have such an interface (such as a LocalTalk serial adapter)
	  say Y here.

config TASHTALK
	tristate "TashTalk LocalTalk Interface Support"
	depends on ATALK && DEV_APPLETALK
	depends on NETDEVICES
	help
	  TashTalk is a serial adapter for LocalTalk interfaces. This driver
	  will then work natively with Netatalk.
	  <file:Documentation/networking/device_drivers/appletalk/tashtalk.rst>.

